<!DOCTYPE html>
<html>
<head>
  <title>Balto Consultation - Activity level</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h2>What is <%= pet_name %>'s activity level?</h2>
<form id="activity-level-form">
  <input type="radio" name="activity-level" value="Lazy" required> Lazy<br>
  <input type="radio" name="activity-level" value="Normal"> Normal<br>
  <input type="radio" name="activity-level" value="Very active"> Very active
  <br><br>
  <div id="recovery-question" style="display:none;">
    <h3>How often do you follow a routine to maximize <%= pet_name %>'s post-exercise recovery?</h3>
    <input type="radio" name="recovery-routine" value="Don't really do anything"> Don't really do anything<br>
    <input type="radio" name="recovery-routine" value="Pretty often"> Pretty often<br>
    <input type="radio" name="recovery-routine" value="Always"> Always
  </div>
  <br><br>
  <button type="submit" id="submit-activity-level">Submit</button>
</form>

<script>
  $(document).ready(function(){
    // Show the recovery question if "Very active" is selected
    $("input[name='activity-level']").change(function(){
      if ($(this).val() === "Very active") {
        $("#recovery-question").show();
      } else {
        $("#recovery-question").hide();
      }
    });

    $("#submit-activity-level").click(function(e){
      e.preventDefault();
      var activity_level = $("input[name='activity-level']:checked").val();
      var recovery_routine = $("input[name='recovery-routine']:checked").val();
      // Send a POST request to the server with the form data
      $.ajax({
        type: "POST",
        url: "/activity_level",
        data: {activity_level: activity_level, recovery_routine: recovery_routine},
        success: function(){
          window.location.href = '/food';
        }
      });
    });
  });
</script>

</body>
</html>