<!DOCTYPE html>
<html>
<head>
  <title>Balto Consultation - Age</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>How old is <%= pet_name %>?</h2>

<div>
<label>Enter the number of years:</label>
<input type="number" name="age_years" id="age_years">
<label>Enter the number of months:</label>
<input type="number" name="age_months" id="age_months">

</div>
<button id="submit-age" type="submit" value="Continue">Continue</button>

</body>
</html>