<!DOCTYPE html>
<html>
<head>
  <title>Balto Consultation - Question 4</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>What is <%= pet_name %>'s breed?</h2>
    <select name="breed" id="breed">
        <option value="" selected>Please select</option>
    <% breeds.each do |breed| %>
        <option value="<%= breed %>"><%= breed %></option>
    <% end %>
    </select>
    <div id="breed_tip"></div>
    <div>
      <input type="checkbox" id="unknown-breed" name="unknown-breed" value="Unknown breed">
      <label for="unknown-breed">I don't know the breed</label>
    </div>
    <button id="submit-breed" type="submit" value="Continue">Continue</button>
  
  <script>
    //Event listener for when the unknown breed checkbox is clicked
    $("#unknown-breed").change(function() {
        if(this.checked) {
            $("#breed").val("");
            $("#breed_tip").hide();
        }
        });
    
    // Event listener for when the breed select changes
    $("#breed").change(function() {
        var selectedBreed = $(this).val();
        if (selectedBreed != "") {
            $("#unknown-breed").prop("checked", false);
        }
        if ($("#unknown-breed").is(":checked")) {
            selectedBreed = "Unknown breed";
            $("#breed_tip").hide();
        } else {
            $("#breed_tip").show();
            $.get("/api/breed_tip", { breed: selectedBreed }, function(data) {
                $("#breed_tip").html(data.tip);
            });
        }
    });

    // Event listener for when the continue button is clicked
            $("#submit-breed").click(function(event) {
        event.preventDefault();
        var selectedBreed = $("#breed").val();
        if ($("#unknown-breed").is(":checked")) {
            var breed = "Unknown breed";
            // Send a POST request to the server with the form data
            $.ajax({
                type: "POST",
                url: "/breed",
                data: {breed: breed},
                success: function(response) {
                    // Redirect to the next page on success
                    window.location.href = '/age_unknown_breed';
                }
            });
        } else {
            // Send a POST request to the server with the form data
            $.ajax({
                type: "POST",
                url: "/breed",
                data: {breed: selectedBreed},
                success: function(response) {
                    // Redirect to the next page on success
                    window.location.href = '/age';
                }
            });
        }
    });

</script>
</body>
</html>