<!DOCTYPE html>
<html>
<head>
  <title>Balto Consultation - Summary</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>ServicePoint ID: <%= session[:service_point_id] %></h2>

</body>
</html>