<!DOCTYPE html>
<html>
<head>
  <title>Balto Consultation - Issues</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h2>Does <%= pet_name %> have any of the following issues?</h2>
  <form>
    <% issues.each do |issue| %>
      <input type="checkbox" name="issues" value="<%= issue %>"> <%= issue %><br>
    <% end %>
    <input type="checkbox" id="no-issues" name="issues" value="No issues"> No issues
  </form>
  <button type="submit" id="submit-issues">Submit</button>
  <script>
    $(document).ready(function(){
      // Uncheck the multi-select options when "No issues" is selected
      $("#no-issues").change(function(){
        if ($(this).is(":checked")) {
          $("input[name='issues']").not(this).prop("checked", false);
        }
      });

      // Uncheck "No issues" when any of the multi-select options are selected
      $("input[name='issues']").not("#no-issues").change(function(){
        if ($(this).is(":checked")) {
          $("#no-issues").prop("checked", false);
        }
      });

      // Event listener for when the continue button is clicked
      $("#submit-issues").click(function(event) {
        // Prevent the form from submitting
        event.preventDefault();

        // Get the selected options
        var issues = $("input[name='issues']:checked").map(function(){
          return $(this).val();
        }).get();
        
        // Pass the selected options to the server side through ajax post
        $.ajax({
           url: '/issues',
           type: 'post',
           data: {issues: issues},
           success: function(response){
              // redirect to the next page
              window.location.href = '/email';
           }
        });
      });
    });
</script>
</body>
</html>