<!DOCTYPE html>
<html>
<head>
  <title>Balto Consultation - Neuter</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h2>Is <%= pet_name %> neutered?</h2>
<div>
    <input type="radio" id="neuter-yes" name="neuter" value="yes">
    <label for="neuter-yes">Yes</label>
    <br>
    <input type="radio" id="neuter-no" name="neuter" value="no">
    <label for="neuter-no">No</label>
</div>
<div id="neuter-tip" style="display:none;">Neutering can have an impact on your dog's metabolism. This essential detail will allow us to create a perfectly adapted recipe.</div>
<button id="submit-neuter" type="submit">Continue</button>

<script>
    $(document).ready(function(){
        $("input[name='neuter']").change(function(){
            if($(this).val() === "yes"){
                $("#neuter-tip").show();
            } else {
                $("#neuter-tip").hide();
            }
        });
    });
    // Event listener for when the continue button is clicked
    $("#submit-neuter").click(function(event) {
        event.preventDefault();
        var neuter = $("input[name='neuter']:checked").val();
        // Send a POST request to the server with the form data
        $.ajax({
            type: "POST",
            url: "/neuter",
            data: {neuter: neuter},
            success: function(response) {
                // Redirect to the next page on success
                window.location.href = '/body_condition';
            }
        });
    });
</script>
</body>
</html>