<!DOCTYPE html>
<html>
  <head>
    <title>Balto Consultation</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form action="/pet_name" method="post">
      <h2>What is the name of your dog?</h2>
      <div>
        <input type="text" name="pet_name" maxlength="50">
      </div>
      <input type="submit" value="Continue">
    </form>
  </body>
</html