<!DOCTYPE html>
<html>
<head>
  <title>Balto Consultation - Weight</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h2>What is <%= pet_name %>'s weight? His lifestage is <%= lifestage %></h2>

<div>
<label>Enter the weight in kg:</label>
<input type="number" name="weight" id="weight">
</div>
<button id="submit-weight" type="submit" value="Continue">Continue</button>

<script>
    var nec = <%= nec %>;
    var lifestage = "<%= lifestage %>";
    $(document).ready(function() {
    // Event listener for when the continue button is clicked
    $("#submit-weight").click(function(event) {
        event.preventDefault();
        // Get the form data
        var weight = $("#weight").val();
        // Send a POST request to the server with the form data
        $.ajax({
            type: "POST",
            url: "/weight_current",
            data: { weight: weight },
            success: function(response) {
                // Redirect to the next page on success
                if (nec == 5 && lifestage != "puppy")  {
                    window.location.href = '/activity_level';
                } else {
                    window.location.href = '/weight_specific';
                }
              }
        });
    });
});
</script>

</body>
</html>